body, input {
    font-family: Futura;
}
#Name {
    font-size: 0.75em;
    margin-bottom: 3em;
}

#Name input:focus {
    background-color: red; /* 😹 */
}

#Buttons {
    text-align: center;
    margin-bottom: 0.5em;
}
#Buttons button {
    font-size: 1.3em;
    margin: 2px;
}
input {
    width: 100%;
}
#Question input {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#Summary {
    font-size: 2em;
}

.hidden {
    display: none;
}


#Reset {
    margin-left: 5em;
}

#MaybeIceCream {
    clear: both;
    float: right;
    font-size: 3em;
}

#Logbook {
    margin-top: 5em;
}

#Footer {
    opacity: 0.1;
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}
#Footer:hover {
    opacity: 1;
}
#Footer a {
    color: inherit;
}
#Footer a:hover {
    color: inherit;
}