body, input {
    font-family: Futura;
}
#Name {
    font-size: 0.75em;
    margin-bottom: 3em;
}

#Name input:focus {
    background-color: red; /* 😹 */
}

#Buttons {
    text-align: center;
    margin-bottom: 0.5em;
}
#Buttons button {
    font-size: 1.3em;
    margin: 2px;
}
input {
    width: 100%;
}
#Question input {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

